* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    
    
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #4f8a5c;
  }
  
  .game-container {
    text-align: center;
  
  }
  
  h1 {
    position: absolute;
    top: 2%;
    left: 50%;
    translate: -50%;
    margin-bottom: 20px;
    color: #ffffff8e;
    background-color: #41a156;
    padding: 10px 15px;
    border-radius: 7px;
    box-shadow: 0px 5px 10px  rgba(1, 255, 35, 0.664);
  }
  
  h5 {
    position: absolute;
    top: 98%;
    left: 50%;
    translate: -50%;
    margin-bottom: 20px;
    color: #ffffff8e;
  }

  .span2 {
    position: absolute;
    top: 35%;
    left: 50%;
    translate: -50%;
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 2rem;
    background-color: #a2b91c;
    padding: 60px;
    border: 1px solid grey;
    border-radius: 7px;
    box-shadow: 0px 5px 10px  rgb(208, 255, 1);
  }
  
  .board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    justify-content: center;
    margin: 0 auto;
  }
  
  .cell {
    border-radius: 5px;
    width: 100px;
    height: 100px;
    background-color: #454375;
    color: #d4d2d2;
    border: 2px solid #000000;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .cell:hover {
    background-color: #3a3761;
  }
  
  .cell.taken {
    cursor: not-allowed;
  }
  
  .restart-button {
    margin-top: 40px;
    padding: 10px 15px;
    font-size: 1rem;
    border: none;
    background-color: #fc069d;
    box-shadow: 5px 10px 15px rgba(255, 1, 128, 0.54);
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s ease;
    border-radius: 7px;
  }
  
  .restart-button:hover {
    background-color: #d30584;
  }

  dialog {
    margin: auto;
    height: 43vmin;
    width: 43vmin;
    background-color: #41a156;
    border: 1px solid gray;
    
    box-shadow: 10px 10px 15px  rgba(1, 255, 35, 0.664);
    border-radius: 7px; 
}
  

.diaMgs {
  margin-top: 100px;
}

.divclose {
  margin-top: 20px;

}

.mgs {
  
  margin: 10px;
  color: #f5f2f2;
  background-color: #d30584;
  font-size: 2rem;
  border-bottom: 7px outset rgb(81, 173, 235);
  box-shadow: 0px 5x 10px rgb(219, 223, 4);
  border-radius: 7px; 
  padding: 10px 15px;
}


.cls {
  background-color: #5b03ff;
  margin-top: 80px;
  padding: 10px 15px;
  font-size: 1rem;
  border: none;
  box-shadow: 5px 10px 15px rgba(44, 4, 223, 0.664);
  color: #fcfdf8;
  cursor: pointer;
  transition: background-color 0.2s ease;
  border-radius: 7px; 
}

@media screen and (max-width: 600px) {
  .mgs {
    position: absolute;
    top: 5%;
    left: 50%;
    font-size: 1rem;
    translate: -60%;
  }
  
  dialog {
    height: 30vmax;
    width: 30vmax;
  }
  .divclose {
    position: absolute;
    top: 20%;
    left: 50%;
    translate: -50%;
  
  }
}